@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

html {
  font-size: 100%;
  font-family: "Yu Gothic", sans-serif, "Poppins", sans-serif;
  color: #333;
}
body {
  font-weight: 300;
  background-color: rgba(255, 243, 230, 100);
}
img {
  max-width: 100%;
}
ul {
  display: block;
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
  position: relative;
  /* font-family:"Yu Gothic" ; */
}
h2 {
  font-family: "Italianno";
  font-size: 1.5rem;
  margin: 0;
}
/* span {
  display: block;
} */
p {
  font-weight: 500;
}
:root {
  --fadeAnimation: fade 0.5s forwards;
}
.inner {
  /* width: 100%; */
  max-width: 1200px;
  margin: 0 auto;
}
/* .md-show {
  display: none;
} */
html { scroll-behavior: smooth; }
@media (prefers-reduced-motion: reduce) {
  html { scroll-behavior: auto; }
}
#about, #service, #news, #works, #contact {
  scroll-margin-top: 72px; /* ヘッダー高さに合わせて調整 */
}